<nav
  class="d-flex align-items-center bg-blue-gradient d-none d-lg-block"
  style="height: 50px"
>
  <div class="container d-flex justify-content-between p-0 h-100">
    <div class="col-4 d-flex align-items-center">
      <!-- <a href="#" class="socials-header text-decoration-none text-white h-100">
        <i class="fab fa-telegram d-flex align-items-center h-100 px-3"></i>
      </a>
      <a href="#" class="socials-header text-decoration-none text-white h-100">
        <i class="fab fa-whatsapp d-flex align-items-center h-100 px-3"></i>
      </a> -->
      <a
        href="https://www.youtube.com/channel/UC2RKl4sbhCykwytZujIAECQ?themeRefresh=1"
        class="socials-header text-decoration-none text-white h-100"
      >
        <i class="fab fa-youtube d-flex align-items-center h-100 px-3"></i>
      </a>
      <a
        href="https://www.instagram.com/"
        class="socials-header text-decoration-none text-white h-100"
      >
        <i class="fab fa-instagram d-flex align-items-center h-100 px-3"></i>
      </a>
      <a
        href="https://www.facebook.com/t4bl.org?rdid=p6RzdmgU7DWvY4yt&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1BQoiE3b3C%2F#"
        class="socials-header text-decoration-none text-white h-100"
      >
        <i class="fab fa-facebook-f d-flex align-items-center h-100 px-3"></i>
      </a>

      <a
        href="tel:16060"
        class="socials-header text-decoration-none text-white h-100"
      >
        <div class="d-flex align-items-center h-100 px-3 gap-2">
          <i class="fa-solid fa-phone"></i>
          16060
        </div>
      </a>
      <!-- <a href="16060" class="text-decoration-none text-white">
      <div class="d-flex justify-content-center align-items-center h-100 px-3">
          <i class="fa-solid fa-phone"></i>
          16060
        </div>
      </a> -->
    </div>

    <div class="col-3 d-flex justify-content-center align-items-center">
      <a class="clr-0 px-2 text-decoration-none"> للتبرع بجميع بنوك مصر </a>
      <!-- copy number -->
      <span
        id="copy-number"
        class="text-decoration-underline link-hover"
        style=""
      >
        655543
      </span>
    </div>

    <div
      class="col-5 d-flex align-items-center justify-content-end gap-2 align-content-start"
    >
      <nav class="navbar navbar-expand-lg navbar-dark bg-custom-dark-blue">
        <div class="container-fluid">
          <ul
            class="subnavbar-nav list-divider ms-auto mb-2 mb-lg-0 d-flex justify-content-center align-items-center text-decoration-none text-white list-unstyled"
          >
            <li class="nav-item">
              <a class="nav-link link-hover" href="/contact.html">تواصل معنا</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-hover" href="/Faq.html"
                >الأسئلة الشائعة</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link link-hover" href="/joinus.html">انضم إلينا </a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle d-flex align-items-center gap-2"
                href="#"
                id="languageDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  src="/assets/images/Flag_of_the_United_States.svg"
                  alt="EN"
                  style="width: 20px; height: auto"
                />
                <span>EN</span>
              </a>
              <ul
                class="dropdown-menu dropdown-menu-end text-start"
                aria-labelledby="languageDropdown"
              >
                <li>
                  <a
                    class="dropdown-item d-flex align-items-center gap-2"
                    href="#"
                      
                  >
                    <img
                      src="/assets/images/Flag_of_the_United_States.svg"
                      alt="EN"
                      style="width: 20px; height: auto"
                    />
                    English
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item d-flex align-items-center gap-2"
                    href="#"
                    onclick="switchLanguage('ar')"
                  >
                    <img
                      src="/assets/images/flag_eg.svg"
                      alt="AR"
                      style="width: 20px; height: auto"
                    />
                    العربية
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</nav>

<!-- ✅ subheader -->

<nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img
        class="logo-size"
        src="/assets/images/logo maan l hayat afdal.svg"
        alt="Logo"
      />
    </a>

    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarNav"
    >
      <ul
        class="navbar-nav mx-auto mb-2 mb-lg-0 justify-content-start gap-3 p-0"
      >
        <li
          class="nav-item d-flex justify-content-center align-items-center hover-gray"
        >
          <a
            class="nav-link-home clr-1 text-decoration-none mb-0 d-flex align-items-center gap-1"
            href="/"
            data-i18n="Home"
            >الرئيسية</a
          >
        </li>

        <!-- ✅ أغلق كل li مفتوح -->

        <li
          class="nav-item d-flex justify-content-center align-items-center dropdown hover-gray"
        >
          <a
            class="nav-link-about dropdown-toggle clr-1 text-decoration-none d-flex align-items-center gap-1"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            data-i18n="About_us"
          >
            من نحن
          </a>
          <ul
            class="dropdown-menu text-start"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item text-right" href="/about-us.html"
                >عن المؤسسة</a
              >
            </li>
            <li>
              <a class="dropdown-item text-right" href="/success-partners.html"
                >شركاء النجاح</a
              >
            </li>
          </ul>
        </li>

        <li
          class="nav-item d-flex justify-content-center align-items-center dropdown hover-gray"
        >
          <a
            class="nav-link-programs dropdown-toggle clr-1 text-decoration-none d-flex align-items-center gap-1"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            data-i18n="Programs"
          >
            البرامج
          </a>
          <ul
            class="dropdown-menu text-start"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a
                class="dropdown-item"
                href="/covered-house.html"
                data-i18n="The_hidden_house"
                >البيت المستور</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/social-sponsorship.html"
                data-i18n="Blog"
                >الكفالة الاجتماعية</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/rural-development.html"
                data-i18n="Blog"
                >تنمية القرى</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/econimic-development.html"
                data-i18n="Blog"
                >التنمية الاقتصادية</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/gaza-privace.html" data-i18n="Blog"
                >أمان وسترة غزة</a
              >
            </li>
          </ul>
        </li>

        <li
          class="nav-item d-flex justify-content-center align-items-center dropdown hover-gray"
        >
          <a
            class="nav-link-donations dropdown-toggle clr-1 text-decoration-none d-flex align-items-center gap-1"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            data-i18n="Donation"
          >
            التبرع
          </a>
          <ul
            class="dropdown-menu text-start"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a
                class="dropdown-item"
                href="/donations.html"
                data-i18n="Donations"
                >التبرعات</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/donation-method.html"
                data-i18n="Donationsmethods"
                >طرق التبرع</a
              >
            </li>
          </ul>
        </li>

        <li
          class="nav-item d-flex justify-content-center align-items-center dropdown hover-gray"
        >
          <a
            class="nav-link-media-center dropdown-toggle clr-1 text-decoration-none d-flex align-items-center gap-1"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            data-i18n="Medua center"
          >
            المركز الإعلامي
          </a>
          <ul
            class="dropdown-menu text-start"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li>
              <a
                class="dropdown-item"
                href="/activity-social.html"
                data-i18n="Association_activities"
                >أنشطة الجمعية</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/bamboo-story.html"
                data-i18n="Inspiring_stories"
                >قصص ملهمة</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/blog.html" data-i18n="Blog"
                >المدونة</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="flex justify-content-between" id="navbarNav">
      <ul
        class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-start gap-3 p-0"
      >
        <li>
          <a
            href="/donations.html"
            class="d-inline-block text-decoration-none d-flex justify-content-center align-items-center"
          >
            <div class="h-100 px-4 gap-2 btn-main-custom-orange">
              <span> تبرع الأن</span>
              <img src="./assets/images/Group (4).svg" alt="icon" />
            </div>
          </a>
        </li>
        <li>
          <a
            href="/hasab-alzakah.html"
            class="d-inline-block text-decoration-none d-flex justify-content-center align-items-center"
          >
            <div class="h-100 px-4 gap-2 btn-main-custom-blue">
              <span> ساهم بزكاتك</span>
              <img src="./assets/images/Group (4).svg" alt="icon" />
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="wrapper d-none d-lg-block">
  <div class="item item1">
    <div class="scrolling-sentence">
      <span class="orange-dot"></span>
      <i class="fas fa-hand-holding-heart icon-spacing"></i>
      نقف بجانبك، وأمان تزويد محتاجينك : <a class="clr-0" href="">تبرع الآن</a>
    </div>
    <div class="scrolling-sentence">
      <span class="orange-dot"></span>
      <i class="fas fa-phone icon-spacing"></i>
      في الخط الساخن والتوصيل من المنازل يرجى الاتصال على :
      <span class="phone-number">16060</span>
    </div>
    <div class="scrolling-sentence">
      <span class="orange-dot"></span>
      <i class="fas fa-check-circle icon-spacing"></i>
      <!-- Example new icon -->
      ساهم في إيصال الحياة الكريمة للمحتاجين
    </div>
  </div>
  <div class="item item2">
    <div class="scrolling-sentence">
      <span class="orange-dot"></span>
      <i class="fas fa-hand-holding-heart icon-spacing"></i>
      نقف بجانبك، وأمان تزويد محتاجينك تبرع الآن
    </div>
    <div class="scrolling-sentence">
      <span class="orange-dot"></span>
      <i class="fas fa-phone icon-spacing"></i>
      في الخط الساخن والتوصيل من المنازل يرجى الاتصال على :
      <span class="phone-number">16060</span>
    </div>
    <div class="scrolling-sentence">
      <span class="orange-dot"></span>
      <i class="fas fa-check-circle icon-spacing"></i>
      ساهم في إيصال الحياة الكريمة للمحتاجين
    </div>
  </div>
  <div class="item item3">
    <div class="scrolling-sentence">
      <span class="orange-dot"></span>
      <i class="fas fa-hand-holding-heart icon-spacing"></i>
      نقف بجانبك، وأمان تزويد محتاجينك تبرع الآن
    </div>
    <div class="scrolling-sentence">
      <span class="orange-dot"></span>
      <i class="fas fa-phone icon-spacing"></i>
      في الخط الساخن والتوصيل من المنازل يرجى الاتصال على :
      <span class="phone-number">16060</span>
    </div>
    <div class="scrolling-sentence">
      <span class="orange-dot"></span>
      <i class="fas fa-check-circle icon-spacing"></i>
      ساهم في إيصال الحياة الكريمة للمحتاجين
    </div>
  </div>
  <div class="item item4">
    <div class="scrolling-sentence">
      <span class="orange-dot"></span>
      <i class="fas fa-hand-holding-heart icon-spacing"></i>
      نقف بجانبك، وأمان تزويد محتاجينك تبرع الآن
    </div>
    <div class="scrolling-sentence">
      <span class="orange-dot"></span>
      <i class="fas fa-phone icon-spacing"></i>
      في الخط الساخن والتوصيل من المنازل يرجى الاتصال على :
      <span class="phone-number">16060</span>
    </div>
    <div class="scrolling-sentence">
      <span class="orange-dot"></span>
      <i class="fas fa-check-circle icon-spacing"></i>
      ساهم في إيصال الحياة الكريمة للمحتاجين
    </div>
  </div>
  <div class="item item5">
    <div class="scrolling-sentence">
      <span class="orange-dot"></span>
      <i class="fas fa-hand-holding-heart icon-spacing"></i>
      نقف بجانبك، وأمان تزويد محتاجينك تبرع الآن
    </div>
    <div class="scrolling-sentence">
      <span class="orange-dot"></span>
      <i class="fas fa-phone icon-spacing"></i>
      في الخط الساخن والتوصيل من المنازل يرجى الاتصال على :
      <span class="phone-number">16060</span>
    </div>
    <div class="scrolling-sentence">
      <span class="orange-dot"></span>
      <i class="fas fa-check-circle icon-spacing"></i>
      ساهم في إيصال الحياة الكريمة للمحتاجين
    </div>
  </div>
  <div class="item item6">
    <div class="scrolling-sentence">
      <span class="orange-dot"></span>
      <i class="fas fa-hand-holding-heart icon-spacing"></i>
      نقف بجانبك، وأمان تزويد محتاجينك تبرع الآن
    </div>
    <div class="scrolling-sentence">
      <span class="orange-dot"></span>
      <i class="fas fa-phone icon-spacing"></i>
      في الخط الساخن والتوصيل من المنازل يرجى الاتصال على :
      <span class="phone-number">16060</span>
    </div>
    <div class="scrolling-sentence">
      <span class="orange-dot"></span>
      <i class="fas fa-check-circle icon-spacing"></i>
      ساهم في إيصال الحياة الكريمة للمحتاجين
    </div>
  </div>
  <div class="item item7">
    <div class="scrolling-sentence">
      <span class="orange-dot"></span>
      <i class="fas fa-hand-holding-heart icon-spacing"></i>
      نقف بجانبك، وأمان تزويد محتاجينك تبرع الآن
    </div>
    <div class="scrolling-sentence">
      <span class="orange-dot"></span>
      <i class="fas fa-phone icon-spacing"></i>
      في الخط الساخن والتوصيل من المنازل يرجى الاتصال على :
      <span class="phone-number">16060</span>
    </div>
    <div class="scrolling-sentence">
      <span class="orange-dot"></span>
      <i class="fas fa-check-circle icon-spacing"></i>
      ساهم في إيصال الحياة الكريمة للمحتاجين
    </div>
  </div>
  <div class="item item8">
    <div class="scrolling-sentence">
      <span class="orange-dot"></span>
      <i class="fas fa-hand-holding-heart icon-spacing"></i>
      نقف بجانبك، وأمان تزويد محتاجينك تبرع الآن
    </div>
    <div class="scrolling-sentence">
      <span class="orange-dot"></span>
      <i class="fas fa-phone icon-spacing"></i>
      في الخط الساخن والتوصيل من المنازل يرجى الاتصال على :
      <span class="phone-number">16060</span>
    </div>
    <div class="scrolling-sentence">
      <span class="orange-dot"></span>
      <i class="fas fa-check-circle icon-spacing"></i>
      ساهم في إيصال الحياة الكريمة للمحتاجين
    </div>
  </div>
</div>

<!--  هيدر التاب   -->

<!-- ✅ subheader -->

<nav class="navbar navbar-expand-lg navbar-dark d-none d-md-block d-lg-none mx-lg-0 mx-3">
  <div class="container d-flex justify-content-between">
    <a class="navbar-brand" href="#">
      <img
        class="logo-size"
        src="/assets/images/logo maan l hayat afdal.svg"
        alt="Logo"
      />
    </a>

    <div class="d-flex gap-3 align-items-center">
      <!-- زر تبرع الآن -->
      <a
        href="/donation-method.html"
        class="button-header btn-main-custom-orange d-flex align-items-center gap-2 px-4 py-2 text-white text-decoration-none d-flex justify-content-center"
      >
        <span>تبرع الآن</span>
        <!-- <img src="./assets/images/Group (4).svg" alt="icon" height="20" /> -->
      </a>

      <!-- زر ساهم بزكاتك -->
      <a
        href="/hasab-alzakah.html"
        class="button-header btn  btn-main-custom-blue d-flex align-items-center gap-2 px-4 py-2 text-white text-decoration-none d-flex justify-content-center"
      >
        <span>ساهم بزكاتك</span>
        <!-- <img src="./assets/images/Group (4).svg" alt="icon" height="20" /> -->
      </a>
    </div>

    <a
      class=""
      data-bs-toggle="offcanvas"
      href="#offcanvasNavbarTablet"
      role="button"
      aria-controls="offcanvasNavbarTablet"
    >
      <span class="navbar-toggler-icon"></span>
    </a>

    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasNavbarTablet"
      aria-labelledby="offcanvasNavbarTabletLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarTabletLabel`">
          القائمة
        </h5>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link clr-1 active" aria-current="page" href="/">
              <img src="/assets/images/home icon.svg"/>
              الرئيسية</a
            >
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle clr-1"
              href="#"
              id="aboutUsSubMenu"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
            <img src="/assets/images/about icon.svg "/>
              من نحن
            </a>
            <ul
              class="dropdown-menu text-start"
              aria-labelledby="aboutUsSubMenu"
            >
              <li>
                <a class="dropdown-item clr-1" href="/about-us.html">عن المؤسسة</a>
              </li>
              <li>
                <a class="dropdown-item clr-1" href="/success-partners.html">شركاء النجاح</a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle clr-1"
              href="#"
              id="aboutUsSubMenu"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
            <img src="/assets/images/programs icon.svg"/>
              البرامج
            </a>

            <ul
              class="dropdown-menu text-start"
              aria-labelledby="aboutUsSubMenu"
            >
              <li>
                <a class="dropdown-item clr-1" href="#">البيت المستور</a>
              </li>
              <li>
                <a class="dropdown-item clr-1" href="/social-sponsorship.html"
                  >الكفالة الاجتماعية</a
                >
              </li>
              <li>
                <a class="dropdown-item clr-1" href="/village-development.html">تنمية القري</a>
              </li>
              <li>
                <a class="dropdown-item clr-1" href="/econimic-development.html"
                  >التنمية الاقتصادية</a
                >
              </li>
              <li>
                <a class="dropdown-item clr-1" href="#">امان و ستره غزة</a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle clr-1"
              href="#"
              id="aboutUsSubMenu"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
            <img src="/assets/images/donations icon.svg"/>
              التبرع
            </a>

            <ul
              class="dropdown-menu text-start"
              aria-labelledby="aboutUsSubMenu"
            >
              <li><a class="dropdown-item clr-1" href="/donations.html"> التبرعات</a>
              
              </li>
              <li>
                <a class="dropdown-item clr-1" href="/donation-method.html">طرق التبرعات </a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle clr-1"
              href="#"
              id="aboutUsSubMenu"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
            <img src="/assets/images/media center icon.svg"/>
              المركز الإعلامي
          </a>

            <ul
              class="dropdown-menu text-start"
              aria-labelledby="aboutUsSubMenu"
            >
              <li>
                <a class="dropdown-item clr-1" href="/activity-social.html"> انشطة الجمعية</a>
              </li>
              <li>
                <a class="dropdown-item clr-1" href="/bamboo-story.html">قصص ملهمه </a>
              </li>
              <li><a class="dropdown-item clr-1" href="/blog.html">المدونة</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- نهايه الهيدر -->

<!--  هيدر للموبيل  -->
<nav class="navbar navbar-expand-lg navbar-dark d-block d-md-none mx-lg-0 mx-3">
  <div class="container d-flex justify-content-between">
    <a class="navbar-brand" href="#">
      <img
        class="logo-size"
        src="/assets/images/logo maan l hayat afdal.svg"
        alt="Logo"
      />
    </a>

    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="d-flex gap-md-3 gap-2 align-items-center">
      <!-- زر تبرع الآن -->
      <a
        href="/donation-method.html"
        class="button-header btn-main-custom-orange d-flex align-items-center gap-2 px-2 py-1 px-md-4 py-md-2 text-white text-decoration-none d-flex justify-content-center"
      >
        <span>تبرع الآن</span>
        <!-- <img src="./assets/images/Group (4).svg" alt="icon" height="20" /> -->
      </a>

      <!-- زر ساهم بزكاتك -->
      <a
        href="/hasab-alzakah.html"
        class="button-header btn btn-main-custom-blue d-flex align-items-center gap-2 px-2 px-md-4 py-2 text-white text-decoration-none d-flex justify-content-center"
      >
        <span>ساهم بزكاتك</span>
        <!-- <img src="./assets/images/Group (4).svg" alt="icon" height="20" /> -->
      </a>
    </div>

    <a
      class=""
      data-bs-toggle="offcanvas"
      href="#offcanvasNavbar"
      role="button"
      aria-controls="offcanvasNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </a>

    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">القائمة</h5>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link clr-1 active" aria-current="page" href="/">
              <img src="/assets/images/home icon.svg"/>
              الرئيسية</a
            >
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle clr-1"
              href="#"
              id="aboutUsSubMenu"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
            <img src="/assets/images/about icon.svg "/>
              من نحن
            </a>
            <ul
              class="dropdown-menu text-start"
              aria-labelledby="aboutUsSubMenu"
            >
              <li>
                <a class="dropdown-item clr-1" href="/about-us.html">عن المؤسسة</a>
              </li>
              <li>
                <a class="dropdown-item clr-1" href="/success-partners.html">شركاء النجاح</a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle clr-1"
              href="#"
              id="aboutUsSubMenu"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
            <img src="/assets/images/programs icon.svg"/>
              البرامج
            </a>

            <ul
              class="dropdown-menu text-start"
              aria-labelledby="aboutUsSubMenu"
            >
              <li>
                <a class="dropdown-item clr-1" href="#">البيت المستور</a>
              </li>
              <li>
                <a class="dropdown-item clr-1" href="/social-sponsorship.html"
                  >الكفالة الاجتماعية</a
                >
              </li>
              <li>
                <a class="dropdown-item clr-1" href="/village-development.html">تنمية القري</a>
              </li>
              <li>
                <a class="dropdown-item clr-1" href="/econimic-development.html"
                  >التنمية الاقتصادية</a
                >
              </li>
              <li>
                <a class="dropdown-item clr-1" href="#">امان و ستره غزة</a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle clr-1"
              href="#"
              id="aboutUsSubMenu"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
            <img src="/assets/images/donations icon.svg"/>
              التبرع
            </a>

            <ul
              class="dropdown-menu text-start"
              aria-labelledby="aboutUsSubMenu"
            >
              <li><a class="dropdown-item clr-1" href="/donations.html"> التبرعات</a>
              
              </li>
              <li>
                <a class="dropdown-item clr-1" href="/donation-method.html">طرق التبرعات </a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle clr-1"
              href="#"
              id="aboutUsSubMenu"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
            <img src="/assets/images/media center icon.svg"/>
              المركز الإعلامي
          </a>

            <ul
              class="dropdown-menu text-start"
              aria-labelledby="aboutUsSubMenu"
            >
              <li>
                <a class="dropdown-item clr-1" href="/activity-social.html"> انشطة الجمعية</a>
              </li>
              <li>
                <a class="dropdown-item clr-1" href="/bamboo-story.html">قصص ملهمه </a>
              </li>
              <li><a class="dropdown-item clr-1" href="/blog.html">المدونة</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!--  هيدر للموبيل  -->

<button
  class="sticky-cart-button btn btn-warning"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasDonationCart"
  aria-controls="offcanvasDonationCart"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="20"
    fill="currentColor"
    class="bi bi-cart-fill"
    viewBox="0 0 16 16"
  >
    <path
      d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
    />
  </svg>
</button>

<div
  class="offcanvas offcanvas-bottom"
  tabindex="-1"
  id="offcanvasDonationCart"
  aria-labelledby="offcanvasDonationCartLabel"
>
  <div class="offcanvas-header">
    <h5
      class="offcanvas-title text-orange fw-bold"
      id="offcanvasDonationCartLabel"
    >
      استكمال التبرع
    </h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <!-- سلة التبرعات -->
    <div
      class="card p-3 mb-3 d-flex my-0 flex-row align-items-center justify-content-between shadow-lg"
    >
      <div class="col-4 h-100 me-3">
        <img
          src="/assets/images/taghez 3arosa.png"
          class="rounded w-100 h-100"
        />
      </div>
      <div class="d-flex align-items-center col-8 h-100">
        <div
          class="text-center me-4 w-100 d-flex flex-column justify-content-between h-100"
        >
          <div class="d-flex justify-content-between align-items-center">
            <h3 class="fw-bold clr-1">وصلة مياه</h3>
            <button class="btn-close btn-outline-secondary"></button>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center mt-md-2 gap-2">
              <button class="btn-custom-blue">-</button>
              <div class="fw-medium fs-lg-5">600</div>
              <button class="btn-custom-blue ">+</button>
            </div>
            <div class="text-muted fs-lg-5 fw-medium">6000 جنيه</div>
          </div>
        </div>
      </div>
    </div>

    <!-- الإجمالي وزر التبرع -->
    <div
      class="d-flex justify-content-between align-items-center mt-auto"
    >
      <div class="fw-bold">
        الإجمالي: <span class="fs-lg-5 fw-medium">6000 جنيه</span>
      </div>
      <div class="h-100 px-4 gap-2 btn-main-custom-orange">
        <span> تبرع الأن</span>
        <img src="./assets/images/Group (4).svg" alt="icon" />
      </div>
    </div>
  </div>
</div>
