<!-- <footer class="bg-primary text-white text-center py-3 mt-5">
  <div class="container">
    <span data-i18n="footer">&copy; 2024 Together for Better Life. All rights reserved.</span>
    <br>
    <span data-i18n="footer_note   footer.title_footer">مرحبًا بك في موقعنا!</span>
  </div>
</footer>  -->

 <footer class="container-fluid-footer">
        <div class="container  py-0">
            <div class="row ">
             <!-- Column 1: Logo, Slogan, Social Media -->
                <div class="col-lg-3 col-md-6 col-sm-12 p-0">
                    <div class="footer-logo-section ">
                        <img src="/assets/images/logo white footer.svg" alt="Company Logo" class="img-fluid">
                         <p class="mb-3 mt-3 clr-0">نحو مجتمع أفضل بالعطاء<br> المستمر معاً لتحقيق التغيير</p>
                        <div class="social-icons d-flex py=0 gap-4">
                            <a href="#" class="text-decoration-none text-white" target="_blank"><i class="fab fa-facebook-f ms-1"></i></a>
                            <a href="#" class="text-decoration-none text-white" target="_blank"><i class="fab fa-twitter ms-1"></i></a>
                            <a href="#" class="text-decoration-none text-white" target="_blank"><i class="fab fa-instagram ms-1"></i></a>
                            <a href="#" class="text-decoration-none text-white" target="_blank"><i class="fab fa-telegram-plane ms-1"></i></a>
                            <a href="#" class="text-decoration-none text-white" target="_blank"><i class="fab fa-whatsapp ms-1"></i></a>
                        </div>
                    </div>
                </div>

                
                <!-- Column 2: Programs -->
                <div class="col-lg-3 col-md-6 col-sm-12 align-content-between mb-1">
                    <h5 class="footer-heading clr-0 fw-bold">برامجنا</h5>
                    <ul class="footer-list d-flex flex-column gap-3">
                        <li><a href="#" class="text-decoration-none text-white"><i class=" fas fa-caret-left ms-2 "></i> البيت المستور</a></li>
                        <li><a href="#" class="text-decoration-none text-white"><i class=" fas fa-caret-left ms-2 "></i> الكفالة الاجتماعية</a></li>
                        <li><a href="#" class="text-decoration-none text-white"><i class=" fas fa-caret-left ms-2 "></i> التنمية الاقتصادية</a></li>
                        <li><a href="#" class="text-decoration-none text-white"><i class=" fas fa-caret-left ms-2 "></i> تنمية القرى</a></li>
                    </ul>
                </div>

                <!-- Column 3: Important Links -->
                <div class="col-lg-3 col-md-6 col-sm-12 mb-1 ">
                    <h5 class="footer-heading clr-0 fw-bold">روابط هامة</h5>
                    <ul class="footer-list pb-5 d-flex flex-column gap-3">
                        <li ><a href="#" class="text-decoration-none text-white"><i class=" fas fa-caret-left ms-2 "></i> من نحن</a></li>
                        <li ><a href="#" class="text-decoration-none text-white"><i class=" fas fa-caret-left ms-2 "></i> المدونة</a></li>
                        <li ><a href="#" class="text-decoration-none text-white"><i class=" fas fa-caret-left ms-2 "></i> الأسئلة الشائعة</a></li>
                        <li ><a href="#" class="text-decoration-none text-white"><i class=" fas fa-caret-left ms-2 "></i> انضم إلينا</a></li>
                    </ul>
                </div>

                <!-- Column 4: Contact Information -->
                <div class="col-lg-3 col-md-6 col-sm-12 mb-1 ">
                    <h5 class="footer-heading clr-0 fw-bold">معلومات التواصل</h5>
                    <ul class="footer-list pb-5 clr-0 d-flex flex-column gap-3">
                        <li class="contact-info- clr-0 ">
                          <i class="fas fa-phone ms-2"></i>
                          <a href="te:16060" class="text-decoration-none text-white">16060</a >
                          
                        </li>
                        <li class="contact-info-item py-0 ">
                          <i class="fas fa-envelope ms-2"></i>
                          <a href="mailto:info@t4bl.com" class="text-decoration-none text-white">info@t4bl.com</a>
                          
                        </li>
                        <li class="contact-info-item py-0 ">
                          <i class="fas fa-map-marker-alt ms-2"></i>
                            <a href="#" class="text-decoration-none text-white">القاهرة, مصر</a>
                            
                        </li>
                    </ul>
                  </div>
            </div>
          </div>

        <!-- Copyright Section -->
        </div>
          <div class="container-fluid subfooter text-center d-flex justify-content-center align-content-center">
            <div class="container">
                <div class="col-12 copyright-section clr-0">  
                  <a href="#" class="text-decoration-none">معا لحياة افضل </a>  
                </div>
              </div>
            </div>
    </footer>
  