<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Together</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/" data-i18n="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about.html" data-i18n="about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact.html" data-i18n="contact">Contact Us</a>
        </li>
      </ul>
      <div class="d-flex align-items-center gap-2">
        <span class="text-white" data-i18n="welcome">Welcome to our website!</span>
        <button class="btn btn-light btn-sm" onclick="switchLanguage('en')">EN</button>
        <button class="btn btn-light btn-sm" onclick="switchLanguage('ar')">AR</button>
      </div>
    </div>
  </div> 
</nav>  -->



<div class="container-fluid-subheader d-flex align-items-center" style="height: 50px" >
  <div class="container d-flex justify-content-between p-0 h-100">

<div class=" col-5 d-flex align-items-center socials-header">
  <a href="#" class="socials-header text-decoration-none text-white h-100"><i class=" fab fa-telegram d-flex align-items-center h-100 px-3"></i></a>
  <a href="#" class="socials-header text-decoration-none text-white h-100"><i class=" fab fa-whatsapp d-flex align-items-center h-100 px-3"></i></a>
  <a href="#" class="socials-header text-decoration-none text-white h-100"><i class=" fab fa-instagram d-flex align-items-center h-100 px-3"></i></a>
  <a href="#" class="socials-header text-decoration-none text-white h-100 "><i class=" fab fa-facebook-f d-flex align-items-center h-100 px-3"></i></a>

  <div class=" d-flex justify-content-center align-items-center h-100 px-3">
    <a href="#" class="text-decoration-none text-white "><i class="fa-solid fa-phone"></i></a>
     <a href=" 16060" class="text-decoration-none text-white me-2 fw-semibold"></i>16060</a>  
  </div>
  </div>
  <div class="col-2 d-flex justify-content-center align-items-center ">
      <a class="clr-0 px-2 text-decoration-none "> للتبرع بجميع بنوك مصر  </a>
       <a href="655543" class="text-decoration-none text-white text-bold fw-semibold"></i> 655543</a>
  </div>

  
      <div class="col-5 d-flex align-items-center justify-content-end gap-2 align-content-start">

        <nav class="navbar navbar-expand-lg navbar-dark bg-custom-dark-blue">
            <div class="container-fluid">
              <ul class="subnavbar-nav ms-auto mb-2 mb-lg-0 d-flex justify-content-center align-items-center gap-3 text-decoration-none text-white list-unstyled">
                  <li class="nav-item"><a class="nav-link " href="#">انضم إلينا </a></li>
                  <li class="nav-item"><a class="nav-link " href="#">الأسئلة الشائعة</a></li>
                  <li class="nav-item"><a class="nav-link " href="#">تواصل معنا</a></li>
               </ul>
            </div>
        </nav>

        <button class="btn btn-light btn-sm" onclick="switchLanguage('en')">EN</button>
        <button class="btn btn-light btn-sm" onclick="switchLanguage('ar')">AR</button>
      </div>
      </div>
    </div>
   </div>
  </div>
</div>

  <!-- subheader --> 


<nav class="navbar navbar-expand-lg navbar-dark ">
  <div class="container">
    <a class="navbar-brand" href="#"> <img src="/assets/images/logo maan l hayat afdal.svg" alt="Logo" ></a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 col-8 justify-content-start ">
        <li class="nav-item d-flex justify-content-center align-items-center d-flex justify-content-center align-items-center">
          <a class="nav-link-home clr-1 text-decoration-none mb-0" href="/" data-i18n="Home">الرئيسية</a>
        </li> 
<!-- subheader -->

        <li class="nav-item d-flex justify-content-center align-items-center dropdown">
          <a class="nav-link-about dropdown-toggle clr-1 text-decoration-none" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-i18n="About_us">
            من نحن
          </a>
          <ul class="dropdown-menu text-end " aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item text-right" href="#">عن المؤسسة</a></li>
            <li><a class="dropdown-item text-right" href="#">شركاء النجاح</a></li>
          </ul>
           <li class="nav-item d-flex justify-content-center align-items-center dropdown">
          <a class="nav-link-programs dropdown-toggle clr-1 text-decoration-none" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-i18n="Programs">
            البرامج
          </a>
          <ul class="dropdown-menu text-end" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#"data-i18n="The_hidden_house">البيت المستور</a></li>
            <li><a class="dropdown-item" href="#"data-i18n="Blog">الكفالة الاجتماعية</a></li>
            <li><a class="dropdown-item" href="#"data-i18n="Blog">تنمية القرى</a></li>
            <li><a class="dropdown-item" href="#"data-i18n="Blog">التنمية الاقتصادية</a></li>
            <li><a class="dropdown-item" href="#"data-i18n="Blog">أمان وسترة غزة</a></li>
          </ul>
           <li class="nav-item d-flex justify-content-center align-items-center dropdown">
          <a class="nav-link-donations dropdown-toggle clr-1 text-decoration-none" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-i18n="Donation">
            التبرع
          </a>
          <ul class="dropdown-menu text-end" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#"data-i18n="Donations">التبرعات</a></li>
            <li><a class="dropdown-item" href="#"data-i18n="Donationsmethods">طرق التبرع</a></li>
          </ul>
           <li class="nav-item d-flex justify-content-center align-items-center dropdown">
          <a class="nav-link-media-center dropdown-toggle clr-1 text-decoration-none" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-i18n="Medua center">
            المركز الإعلامي
          </a>
          <ul class="dropdown-menu text-end text-end" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#" data-i18n="Association_activities">أنشطة الجمعية</a></li>
            <li><a class="dropdown-item" href="#" data-i18n="Inspiring_stories">قصص ملهمة</a></li>
            <li><a class="dropdown-item" href="#" data-i18n="Blog">المدونة</a></li>
          </ul>
      </ul>

      <div class="collapse navbar-collapse" id="navbarNav-2">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 col-4 justify-content-end">
        <li class="nav-item d-flex justify-content-center align-items-center d-flex justify-content-center align-items-center">
          <a class="nav-link-donatenow clr-1 text-decoration-none mb-0" href="/" data-i18n="Home">الرئيسية</a>
        </li> 
        

    </div>
  </div>
</nav> 





